body {
    text-align: center;
    background-image:linear-gradient(to bottom, #ffffff, #bbf6ff);
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

.title {
    background-color: #95c7ce;
}

.today {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    gap: 20px 10px;
}
.today h2 {
    text-align: center;
    width: 100%;
}

.today-box {
    width: 45%;
    height: 18vh;
    margin: 5px;
    text-align: center;
    align-content: top center;
    display: inline-block;
    background-image:linear-gradient(to top, #ccf8ff, #99e3ee);
}

.today-box p {
    display: inline;
}